TWILIO_ACCOUNT_SID=YOURSID
TWILIO_AUTH_TOKEN=YOURAUTH
TWILIO_PHONE_NUMBER=+TWILIONUMBERGIVEN
OPENAI_API_KEY=YOUR_API
PUBLIC_URL=https://THENGROKURL.ngrok-free.app
VOICE_SERVER_URL=https://THENGROKURL.ngrok-free.app
PORT=5050
SONAUTO_API_KEY=YOUR_API
REPLICATE_API_KEY=YOUR_REPLICATE_API